extends ../layout

block content

  form.form-horizontal(action='admin/lesson-form', method='GET')
    |
    .col-sm-offset-3.col-sm-7
      button.col-sm-3.btn.btn-primary(type='submit')
        | Add new lesson

