extends ../layout

block content
  .row
    .col-sm-6
      .jumbotron
        form.form-horizontal(action='../admin/lesson-form', method='GET')
          button.center-block.btn.btn-success.btn-lg(type='submit') Add new Lesson
      for lesson in lessonDB
        ul.nav.nav-pills
          p
            a.list-group-item.list-group-item-success(href='../admin/lesson-form/edit/' + lesson.id, role='button')
              i.fa.fa-pencil
              | #{lesson.name}
    .col-sm-6
      .jumbotron
        form.form-horizontal(action='../admin/task-form', method='GET')
          button.center-block.btn.btn-success.btn-lg(type='submit') Add new Task
      for task in taskDB
        ul.nav.nav-pills
          p
            a.list-group-item.list-group-item-success(href='../admin/task-form/edit/' + task.id, role='button')
              i.fa.fa-pencil
              | #{task.name}