extends ../../../layout

block content
  .page-header
    h3 LIst of lessons
    ul
    - for (var i = 0; i < lessons.length; ++i) {
      li #{lessons[i].lessonName} - #{lessons[i].lessonDescription}
    - }
    
  