footer
  .container.text-center
    ul.pull-left.list-inline
      li © 2018
      li
        a(href='mailto:radu.nita@mail.ru') radu.nita@mail.ru
      li
        a(href='https://github.com/Lure-of-Lysergide/titanium-javascript-hackaton')
          i.fa.fa-code-fork
          | My fork of this project
      li on
      li
        a(href='https://github.com/Lure-of-Lysergide')
          i.fa.fa-github-alt
          | GitHub
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sahat/hackathon-starter')
          i.fa.fa-github-alt
          | Hackathon starter
      li
        a(href='https://github.com/PovarovDenis/titanium-javascript-hackaton')
          i.fa.fa-github-alt
          | Titanium javascript hackaton
