extends layout

block content
  h1 Lesson name: #{lesson.name}
  p.lead Lesson description #{lesson.description}
  hr
  .row
      //for lesson in db
      .col-sm-6
        h2 some info
        p list of Tasks related to the Lesson (just task names).
        p
          //a.btn.btn-default(href='../lesson/' + lesson.id, role='button') View details »

