extends layout

block content
  .well
    h1 #{lesson.name}
    p.lead #{lesson.description}
  .row
    for task in db
      .col-xs-8.col-sm-6.col-md-5.col-lg-4
        p.lead #{task.name}
        p #{task.description}
        p
          a.btn.btn-primary(href='../task/' + task.id, role='button') View details »

