extends layout

block content
  h1 Lesson name: #{lesson.name}
  p.lead Lesson description #{lesson.description}
  hr
  .row
    for task in db
      .col-sm-6
        h2 Task: #{task.name}
        p Description: #{task.description}
        p
          a.btn.btn-default(href='../task/' + task.id, role='button') View details »

