extends layout

block content
  .well
    h1 #{task.name}
    p.lead #{task.description}
  .row.form-horizontal
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='taskTests', id='taskTests', value=task.tests)
    .form-group
      label.col-sm-2.control-label(for='taskSolution') Solution
      .col-sm-9
        textarea.form-control(name="taskSolution", cols="30", rows="10", id='taskSolution', placeholder='Input your solution', required)
    .form-group
      .col-sm-offset-2.col-sm-9
        button.col-sm-3.btn.btn-primary(type='submit' id='btnForAJAX')
          i.fa.fa-check
          | Check the solution
    div.col-sm-offset-2.col-sm-9.alert.alert-success(id="fldForAJAX")
    script(src="../js/ajax.js")
