
extends ../../layout

block content

    <div class="addingNewTasks">
        <form(action="" method="post") >
        <p>Task name
        <input type="text" name="taskName">
        <p>Task
        <input type="text" name="task">
        <p>Task description
        <input type="text" name="taskDesc">
        <input type="submit" value ="Send"> 
        </form>
    </div>
    <div  id="result"></div>