//Task title, Task description and input textarea to provide the solution. Also there must be a button Check solution
extends layout

block content
  h1 Task Details
    hr
    p Details
  .row
    .col-sm-6
      h2 Task description
      p description
        a.btn.btn-default(href='#', role='button') Check solution »
